
/* basic reset */
* {
  box-sizing: border-box;
}
/* to remove weird scroll */
body {
  overflow: hidden;
}
a {
  text-decoration: underline;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 2px solid #999;
}

/* Style the form icons */
.icon {
  padding: 10px;
  /* background: dodgerblue; */
  color: #007bff;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  text-align: center;
}

/* .input-field:focus {
  border: 2px solid dodgerblue;
} */

/* Set a style for the submit button */
.btn {
  /* background-color: dodgerblue; */
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  /* width: 100%; */
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

form {
  width: 550px;
  margin: 7rem auto;
}
